@import url('https://fonts.googleapis.com/css2?family=Carrois+Gothic&display=swap');

:root{
    --box-shadow: 0 1px 1px rgba(0, 0, 0, 0.363);

}


body {
    font-family: 'Carrois Gothic', sans-serif;
    font-size: 18px;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

ul {
    list-style: none;
    padding: 0;
}

a {
    text-decoration: none;
    padding: 0;
    color: black;
}

h1 {
    font-size: 48px;
}

h2 {
    font-size: 48px;
    font-weight: 600;
}

h3 {
    font-size: 36px;
}

h4 {
    font-size: 18px;
    margin: 0;
    font-weight: 600;
}

.header-container {
    box-sizing: border-box;
    max-width: 1400px;
    margin: 0 auto;
    justify-content: space-between;
    padding: 0 15px;
    align-items: center;
}

.container {
    box-sizing: border-box;
    max-width: 1600px;
    margin: 0 auto;
}

.header{
    height: 80px;
    background: #fff;
    box-shadow: var(--box-shadow);
 }

.header-list{
    text-transform: uppercase;
}

.heavy-logo{
    position: fixed;
    top: 0.5%;
    left: 44.5%;
}

.home {
    align-items: center;
}

.home-title {
    margin-top: 210px;
    margin-bottom: 50px;
}

.home-card{
    width: 200px
}